# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# build outputs
frontend/dist/
backend/dist/

# env files
.env
.env.*
frontend/.env
backend/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor/system
.DS_Store
Thumbs.db
.vscode/*.log
